<!DOCTYPE html>
<html lang="en">
<head>

    

    <meta charset="UTF-8">
    <title class= "p-0"> Login </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.2/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename= 'css.css')}}">


<body>


     {%from "macro.html" import render_field %}
     
     {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul> 
          {% for message in messages %}
          
          <div class="alert alert-success" role="alert">
            {{message}}
          </div>
          
          {% endfor %}
        </ul>
       {% endif %}
     {% endwith %}
     
      
     <form name="sentMessage" id="contactForm" method="post">

      <input type="hidden" name = "csrf_token" value="{{ csrf_token() }}" />
  

        <div class="mb-lg-3">
            <div class="form-switch">
                {{render_field(form.username, class='form-switch',id ='username')}}
                
                <p class="help-block-text-danger"></p>
        </div>

        <div class="mb-lg-3">
          <div class="form-switch">
              {{render_field(form.password,class='form-switch',id ='password')}}
              <p class="help-block-text-danger"></p>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <a href="forgot" class="link-secondary">Forgot Password?</a>
      <a href="authorized" class="link-primary">Iniciar con Google</a>


       
    
                
    </form>
     
</body>
</html><!DOCTYPE html>